/* Main container for the discount view */
.discount-view-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	min-height: 100vh;
	background: #fafbfc;
	padding: 0 0 32px 0;
	box-sizing: border-box;
}

.discount-list-section {
	width: 100%;
	margin-top: 12px;
	display: flex;
	justify-content: center;
}
