<div class="discount-wrapper">
    <div class="discount-grid">
        @if (isLoading()) {
            <div class="loading-spinner">
                <mat-spinner></mat-spinner>
            </div>
        } @else if (discountItems().length === 0) {
            <div class="no-results">No discounts found.</div>
        } @else {
            @for (discountItem of discountItems(); track discountItem.id) {
                <app-discount-item-view 
                    [discountItem]="discountItem"
                />
            }
        }
    </div>
</div>

